<div class="content-container">
    {% if page.audio %}
        <!-- Autoplay page.audio -->
        <audio id="room-audio" autoplay="autoplay" preload="auto" loop="loop">
            <source src="{{ page.audio | prepend: 'rooms/' | prepend:site.audiourl }}" type="audio/mpeg">
        </audio>
        <!-- Button for turning on audio if autoplay is blocked -->
        <button id="audio-toggle" class="audio-toggle">
            <img id="audio-toggle-img" src={{ "audio_toggle_mute.png" | prepend: site.imageurl }} width="64" height="64"></img>
            Toggle Music
        </button>
    {% endif %}
    {% include breadcrumbs.html %}
    <div class="content">
        {{ content }}
    </div>
</div>