<div class="content-container">
    {% if page.audio %}
        <!-- Autoplay page.audio -->
        <audio id="room-audio" autoplay="autoplay" preload="auto" loop="loop">
            <source src="{{ page.audio | prepend: 'rooms/' | prepend:site.audiourl }}" type="audio/mpeg">
        </audio>
        <!-- Button for turning on audio if autoplay is blocked -->
        <button id="audio-toggle" class="audio-toggle" onclick="document.getElementById('room-audio').play();">
            <p>Toggle!</p>
        </button>
    {% endif %}
    {{ content }}
</div>