.forum {
    &-thread {
        display: flex;
        flex-direction: column;

        gap: 2rem;

        &-topic {
            h1 {
                margin: 2rem 1rem;
            }
        }

        &-post {
            display: flex;
            margin: 0 auto;

            max-width: 95%;
        }

        &-icon {
            margin-right: 1rem;
            img {
                // None yet
            }
        }

        &-content {
            width: 100%;
        }

        &-user {
            display: flex;
            gap: 1rem;
        }

        &-date {
            font-size: small;
        }

        &-signature {
            border-top: 1px solid $foreground-secondary;
            color: $foreground-secondary;
        }
    }

    &-signature {
        // None yet
    }
}