body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
}

//h1 {font-size: $font-size + 1rem}
//h2 {font-size: $font-size + 0.6rem}
//h3 {font-size: $font-size + 0.3rem}
//h4 {font-size: $font-size}
//h5 {font-size: $font-size - 0.3rem}
//h6 {font-size: $font-size - 0.6rem}

img {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
}

// Classes

.layout-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    max-width: $page-width;
}

.content-container {
    flex-grow: 1;

    width: 100%;
    max-width: $content-width;

    color: $foreground;
    background-color: $background;
}

.content {
    margin: 1rem auto;
    width: 90%;
}

.page-navigation {
    color: $foreground;
    background-color: $background;

    opacity: 0.8;
}

.background-image {
    z-index: -1;
    width: 100%;
    height: auto;
}