// Colours
$foreground: #fff;
$background: #000;

$primary: #f00;
$secondary: #00f;
$tertiary: #0f0;

$transparent: #fff0;

// Fonts
$font-size: 1rem;

// Measurements
$page-width: 1200px;
$content-width: 900px;
$mobile-width: $content-width;