// Colours
$foreground: #fff;
$foreground-secondary: #ccc;

$background: #000;
$background-navigation: #444;
$background-content: #222;

$primary: #f00;

$transparent: #fff0;

// Fonts
$font-size: 1rem;

// Measurements
$page-width: 1200px;
$content-width: 900px;
$mobile-width: $content-width;