// This is the main SASS file.
// Be sure to research what SASS can do as it makes CSS just a bit more easier.

body {
  margin: 0 auto;
  width: 100%;

  /* Default colors */
  color: $foreground;
  background-color: $background;

  /* Default font family */
  font-family: Arial, sans-serif;
}

/* Header */
#header {
  font-family: $header-font;
  font-size: 1.5rem;
}

/* Reusable classes */
.center {
  text-align: center;
}

.hidden {
  display: none;
}
