// This is the variables file for all CSS.
// Use as many reusable variables as you can to keep the site easy to edit.

// Fonts
$header-font: 'OldStandardTT-Bold';

$font-size: 1rem;

// Colours
$foreground: #fff;
$background: #000;
$primary: #754da9;